body {
    margin:0;
    padding:0;
    
}
header{
    width: 100%;
    background-color:gray;
    height:65px;
    box-shadow: 0 3px 35px 15px white;


}
.logo {
    width: 125px;
    padding: 10px;
}
.right_nav {
    width:30%;
    display: inline-block;


}
.left_nav {
    widows: 70%;
    display: inline-block;

}
.right_nav  ul{
    list-style:none;
    padding-right:10px;
    padding-top:5px;
    font-weight:500;
    font-size:14px;

}
.right_nav ul li,a {
    display: inline-block;
    text-decoration: none;
    padding-right: 10px;
    color:black;
    padding-bottom: 5px;
}
section{
    text-align: center;
    padding-top:35px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-weight: 700;
    font-size: 72px;
    padding:15px;
}


section p {
    font-weight: 500;
    font-size:24px;
    line-height: 32px;
    padding-top:12px;

}
.pictures{
    margin-top:24px;
    width: 100%;

}
#pics {
    width: 100%;
}
footer {
    background:black;
    color:white
}
footer h2 {
    font-size:24px;
}
.foot1 {
    text-align: center;
}
.form {
    display: inline-block;
    width: 50%;
}
.formi {
    width:80%
}
.form p {
    font-size:10px;
    margin:0;
    padding:0;

}
.download {
    display: inline-block;
    text-align: center;
    width: 50%;
}
.download a {
    display: inline;
}
.store {
    width:25%;
}

